@model TodoList.Models.Tarefa

@{
    ViewData["Title"] = "EditarTarefa";
}

<h1>EditarTarefa</h1>

<h4>Tarefa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarTarefa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeTarefa" class="control-label"></label>
                <input asp-for="NomeTarefa" class="form-control" />
                <span asp-validation-for="NomeTarefa" class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-success">
                                <span class="material-icons">edit_note</span>
                                Edit
                            </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
