@model IEnumerable<TodoList.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}
<div id="product-grid" class="table-responsive" style = "margin-top: 6rem;">
    <table class="table table-borderless">
        <thead class="control-label">
            <tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
             {<div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel">
                    @Html.DisplayFor(modelItem => item.NomeTarefa)
                    </div>
                <div class="p-2 bd-highlight">
                    <a asp-action="EditarTarefa" asp-route-id="@item.Id" style="text-decoration:none">
                            <button type="button" class="btn btn-success">
                                <span class="material-icons">inventory_2</span>
                                Editar
                            </button>
                        </a>
                    </div>
                <div class="p-2 bd-highlight">
                     <a asp-action="ExcluirTarefa" asp-route-id="@item.Id" style="text-decoration:none">
                            <button type="button" class="btn btn-secondary" onclick="">
                                <span class="material-icons">open_in_new</span>
                                Deletar
                            </button>
                        </a>
                    </div>
                </div>
             }

        </tbody>
    </table>
</div>